.container {
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

.topAnimationBar {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.bottomAnimationBar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.moreHeartBox {
    position: absolute;
    top: 0;
    right: 0;
}

.giftMachineContainer {
    position: relative;
}
.giftMachineInnerLBox {
    position: absolute;
    top: 30%;
    transform: rotate(-45deg);
}
.giftMachineInnerRBox {
    position: absolute;
    top: 30%;
    right: 0;
    transform: rotate(45deg);
}
