@import '@/fonts.css';

.container {
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainText {
    font-size: 130px;
    font-family: 'Love';
    color: #ffffff;
    letter-spacing: 20px;
}